main {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial;
  font-size: 12pt;
}

/* header section for "PC Parts Explained"; this is the blue background behind the text,
   and sets the text for the header to Arial */
header {
  height: 55px;
  background-color: #0080FF;
  font-family: Arial;
  color: #FFFFFF;
  margin-left: -10px;
  margin-right:-10px;
  padding-top: 30px;
  margin-top: -10px;
}

/* CSS for "PC Parts Explained" */
h1 {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 28pt;
}

/*  The custom class for the navigation of the website. The navigation is done in a block text stylesheet
*   When the navigation boxes are hovered over, the text color changes, also the current active navigation
*   gets highlighted also */

#navlist {
  /*margins of the navigation*/
  margin-left:-10px;
  margin-right:-10px;
  /*padding of the navigation*/
  padding-left: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  /*backgound color of element*/
  background-color: #000000;
  /*text of the navigation*/
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

/* ul formatting for nav */
#navlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* this makes the nav items float to the left of each other */
#navlist li {
  float: left;
}

/* nav list links formatting */
#navlist li a{
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration:none;
  padding-left: 15px;
  padding-right: 15px;
}

nav:visited {
  color: #0080FF;
  text-decoration: none;
}

#navlist li:hover a {
    color: #0080FF;
}

/* background color of the body --> this is behind all of the text */
body {
    background-color: #ACACAC;
}

/* This is for the relavant footer information */
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  clear: right;
  font-family: Arial;
  font-size: 11pt;
}

.updateinfo {
  font-style: italic;
  font-size: 9pt;
}

table {
  width: 900px;
  height: 300px;
  margin: auto;
  border: 1px solid #000000;
  border-spacing: 0;
}

td, th {
border: 1px solid #000000;
}


#wrapper {
  padding-top: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 88%;
  min-width: 500;
  max-width: 1360px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #828282;
}

/* for listing the popular parts in a list -- this may be used multiple times for each part */
.popular {
  font-weight: bold;
  color: #000000;
  font-size: 14pt;
}

.threecolumn {
  width: 33.33%;
  float: left;
}

.threerow:after {
  display: table;
}

form {
  padding: 1em;
  width: 500px;
  border: 1px solid #000000;
}

.picture{
  height: 350px;
  width: 800px;
}


/* HOME PAGE RELATED FEATURES */
/* class for the gif that is on the home page*/
.gif {
  height: 500px;
  width: 500px;
  float: right;
  padding-left: 30px;
  margin-top:-20px;
  margin-right: -20px;
  font-style:italic;
  font-size: 8pt;
  font-style: Arial;
  text-align: center;
}

/* Table that is on the Home Page
   This table contains the pictures of the parts, which are clickable links
   these links lead to other pages within the website */
#hometable {
  text-align: center;
  margin-left: 0px;
  border: none;
  width: 700px;
  height: 250px;
}

#hometable tr {
  border: none;
}

#hometable td {
  border: none;
  width: 300px;
  list-style-type: none;
}

.homepicture {
  height: 90px;
  width: 150px;
}
