main {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial;
  font-size: 12pt;
}

header {
  height: 55px;
  background-color: #0080FF;
  font-family: Arial;
  color: #FFFFFF;
  margin-left: -10px;
  margin-right:-10px;
  padding-top: 30px;
  margin-top: -10px;
}

h1 {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 28pt;
}

nav {
  margin-left:-10px;
  margin-right:-10px;
  background-color: #000000;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  padding-left: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

nav:visited {
    color: #0080FF;
    text-decoration: none;
}

body {
    background-color: #ACACAC;
}

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a:hover {
  color: #0080FF;
}

li a{
  display:block;
  color: #FFFFFF;
  text-align: center;
  text-decoration:none;
  padding-left: 15px;
  padding-right: 15px;
}

table {
  width: 900px;
  height: 300px;
  margin: auto;
  border: 1px solid #000000;
  border-spacing: 0;
}

td, th {
border: 1px solid #000000;
}


#wrapper {
  padding-top: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 88%;
  min-width: 500;
  max-width: 1360px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #828282;
}

.popular {  ;when i list popular parts in a list
  font-weight: bold;
  color: #000000;
  font-size: 14pt;
}

.updateinfo {
  font-style: italic;
  font-size: 11pt;
}

.currentnav {
    color: #0080FF;
}

.threecolumn {
  width: 33.33%;
  float: left;
}

.threerow:after {
  display: table;
}

form {
  padding: 1em;
  width: 500px;
  border: 1px solid #000000;
}

.picture{
  height: 350px;
  width: 800px;
}
